<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <h1>Get Data with MVC Pattern</h1>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Number</th>
        </tr>
        <% users.map((user)=>{%>
        <tr>
            <td><%= user.name%></td>
            <td><%= user.age%></td>
            <td><%= user.address%></td>
            <td><%= user.number%></td>
        <%})%>
        
        </tr>
            
    </table>
    

</body>

</html>